<div class="h-100 d-flex align-items-center justify-content-center" data-controller="home">
  <div>
    <h1>Hello, world!</h1>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
        <a href="#" class="btn btn-primary">Go somewhere</a>
</span>
      </div>
    </div>
  </div>
<div>
